html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-text: #2d2d2d;
  --secondary-text: #666;
  --black: #000;
  --white: #fff;
  --green-text: #3b6635;
  --red-text: #9a4726;
  --gray-text: #969696;
  --gray-bg: #f6f6f6;
  --gray-border: #c3c3c3;
  --gray-bg-transparent: rgba(45, 45, 45, 0.38);
  --tan-bg: #fff9ea;
  --tanner-bg: #eee7ca;
  --yellow-bg: #f1c34a;
  --yellow-bg-transparent: rgba(241, 195, 74, 0.44);
  --green-bg: #b0c472;
  --green-bg-transparent: rgba(176, 196, 114, 0.44);
  --brown-bg: #f2ebd1;
  --error-bg: #ffe0d0;
  --success-bg: #fbffed;
  --ivy: #4c884b;
}

body {
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
}

/* Font smoothing by default */
body {
  font-family: hk_groteskregular, sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Clearfix Hack */
.g-clearfix:before,
.g-clearfix:after {
  content: " ";
  display: table;
  /*   grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1; */
}
.g-clearfix:after {
  clear: both;
  flex-basis: 0;
  order: 1;
}

ul {
  margin: 0;
}

/* Make buttons predictable & styleable */
button {
  display: inline-block;
  border: none;
  padding: 0rem 0rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 60px;
  line-height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fff;
  color: #788474;
}

button:active {
  transform: scale(0.99);
}

.gp-button-link {
  text-decoration: underline;
  color: #788474;
}

.gp-button-link:hover {
  font-weight: bold;
}

.gp-button {
  border-width: 2px;
  border-style: solid;
  padding: 0.3rem 1rem;
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
  height: 3rem;
  width: 10rem;
  font-family: Bebas Neue, sans-serif;
}

.gp-button:hover,
.gp-button:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.gp-input-light {
  border-color: #fff;
  background: #fff;
  color: #788474;
}

.gp-input-dark {
  border-color: #788474;
  background: #fff;
  color: #788474;
}

.gp-close-button {
  font-size: 3rem;
  line-height: 1.7rem;
  margin-left: auto;
  text-align: center;
  width: 2rem;
  color: #031927;
}
.gp-close-button:hover {
  color: #df928e;
}

.gp-button-dark {
  border-color: #788474;
  color: #fff;
  background-color: #788474;
}

.gp-button-dark:hover {
  color: #f7c59f;
  background-color: #788474;
}

.gp-button-transparent-dark {
  border-color: #788474;
  color: #788474;
  background-color: transparent;
}
.gp-button-transparent-dark:hover {
  color: #fff;
  background-color: #788474;
}

.gp-button-transparent-light {
  border-color: #fff;
  color: white;
  background-color: transparent;
}
.gp-button-transparent-light:hover {
  color: #788474;
  background-color: #fff;
}

.subheader--font {
  font-family: Raleway, sans-serif;
}
