html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Raleway, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
}

.homepage-left-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-1 {
  color: #fff;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  flex-wrap: wrap;
}
.section2 {
  background: #ccc;
  background-color: #f7c59f;
  padding: 32px;
  color: #fff;
}

.footer {
  background: #ccc;
  background-color: #031927;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-size: 0.8rem;
  font-family: Raleway, sans-serif;
  padding: 1rem;
}
.hero-left {
  background: #788474;
  padding: 0 32px 32px 32px;
  display: block;
  height: 100%;
}
.hero-right {
  background: #df928e;
  background-image: url("../images/IMG_20200725_155351@2x.png");
  background-size: cover;
  flex-grow: 4;
  position: static;
  min-height: 200px;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  padding-bottom: 0;
}
.body1 {
  font-size: 1rem;
}

.div1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.h11 {
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}
.hero-text {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Bebas Neue, sans-serif;
  justify-content: flex-end;
}
.span1 {
  color: #f7c59f;
}
.hero-dropdown {
  border-width: 2px;
  border-style: none;
  border-color: #333;
  border-bottom-color: #fff;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  font-family: Bebas Neue, sans-serif;
  font-size: inherit;
  text-align: center;
}
.hero-line-1 {
}
.cta-form {
  display: flex;
  margin-bottom: 36px;
  font-size: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cta-button {
  font-family: Bebas Neue, sans-serif;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: left;
  width: 150px;
  padding-bottom: 1rem;
  padding: 0.3rem 1rem;
}
.cta-ionput {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 16px;
  padding-right: 16px;
  color: #788;
  max-width: 150px;
  width: 150px;
  padding: 0.3rem 1rem;
}
.style1 {
  background-image: url("../images/IMG_20200725_155351@2x.png");
}
.style2 {
  background-size: auto;
}
.style3 {
  background-size: cover;
}
.hero-link {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  text-decoration: none;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 32px;
  padding: 8px 24px;
}

.hero-link:hover {
  background-color: #f7c59f;
  text-decoration-line: underline;
}
.hero-link:focus {
  text-decoration-line: underline;
  background-color: #f7c59f;
}
.section-header {
  font-size: 32px;
  font-family: Bebas Neue, sans-serif;
}
.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.feature {
  max-width: 10rem;
  margin-right: 16px;
  margin-left: 16px;
}
.div4 {
  font-family: Raleway, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 24px;
}
.feature-heading {
  font-size: 2rem;
  border-radius: 4px;
  margin-top: 56px;
  font-family: Bebas Neue, sans-serif;
  line-height: 1;
}
.feature-highlight-pink {
  display: flex;
  flex-direction: row;
  color: #df928e;
}
.feature-highlight-green {
  color: #799474;
}
#how-it-works {
  padding: 32px;
  color: #788474;
}
.a1 {
  color: #4a55ac;
}
.section-3-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.how-it-works-image {
  width: 250px;
  height: 100%;
  background: #ccc;
  background-image: url("../images/IMG_20200715_085652.jpg");
  background-size: cover;
  min-height: 400px;
  background-position-y: center;
}
.how-it-works-text {
  margin: 32px;
  margin-left: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-family: Raleway, sans-serif;
}
.how-it-works-paragraph {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1rem;
}
.how-it-works-heading {
  margin: 0;
  color: #df928e;
  font-size: 1.1rem;
}
.chat-header {
  color: #df928e;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 16px 0;
}

.a2 {
  color: #fff;
  text-decoration-line: none;
  padding-bottom: 1rem;
}
.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  width: 250px;
}
.h41 {
  font-size: 25px;
  margin: 0 0 32px 0;
  font-family: Bebas Neue, sans-serif;
}
.newsletter {
  display: block;
}
.form1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 16px 0;
}
.newsletter-button {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 8px 16px;
  background: #ccc;
  background-color: #fff;
  color: #031927;
}
.newsletter-input {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 8px 16px;
  background-color: #031927;
}
.go-to-chat-link {
}
.new-ways-to-save-link {
}
