.product--bread-crumbs {
  height: 30px;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  align-items: center;
}

.product--bread-crumb-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.product--bread-crumb {
  height: 100%;
  color: #4c5349;
  padding: 0 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.product--bread-crumb--chevron {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 25px solid #eaeaea;
}

.product--bread-crumb--menu__portal {
  position: absolute;
  width: 100%;
  padding: 5px;
  height: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.product--bread-crumb--menu {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 100%;
  max-height: 80%;
  overflow: scroll;
  -webkit-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 8px -2px rgba(0, 0, 0, 0.75);
}

.product--bread-crumb--menu__link {
  padding: 10px 0;
  font-family: Raleway, sans-serif;
  color: #2c2d2b;
  text-decoration: none;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product--bread-crumb__dark-background,
.product--bread-crumb__dark-background:focus {
  background-color: #eaeaea !important;
}

.product--bread-crumb__light-background,
.product--bread-crumb__light-background:focus {
  background-color: #f4f4f4 !important;
}
