.nav {
  font-size: 60px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  padding: 24px 32px;
  background: #788474;
}

.nav--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-search--btn {
  font-family: "Fa solid 900";
}

.nav-search--btn .search-icon {
  visibility: hidden;
  display: none;
}

.brand--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: Bebas Neue, sans-serif;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  font-size: 1rem;
}

.nav .menu {
  display: none;
  visibility: hidden;
}

.nav .hamburger {
  display: none;
  visibility: hidden;
}

.search-text {
  font-family: Raleway, sans-serif;
}

.header-links--list {
  display: flex;
}

.header-link {
  color: #fff;
  text-decoration-line: none;
  margin-left: 24px;
  border-style: none;
  border-bottom: 2px solid transparent;
}

.header-link:hover {
  font-weight: 600;
  border-width: 2px;
  border-style: none;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.header-link:focus {
  font-weight: 600;
  border-width: 2px;
  border-style: none;
  border-color: #333;
  border-bottom: 2px solid #f7c59f;
  color: #f7c59f;
  text-decoration: none;
}

.current-link {
  border-style: none;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

/*when mobile menu is open*/
@media screen and (max-width: 786px) {
  .header-links--list,
  .nav__mobile-open .nav-search--btn,
  .nav-search--btn .search-text {
    visibility: hidden;
    display: none;
  }

  .nav .hamburger {
    display: flex;
    visibility: visible;
  }

  .header-links--list--wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #788474;
  }

  .header-links--list__open {
    visibility: visible;
    display: flex;
    flex-direction: column;
    min-width: 160px;
  }

  .header-link,
  .menu-category {
    color: #788474;
  }

  .header-link:hover,
  .current-link {
    border-bottom-color: #788474;
  }

  .header-link--wrapper {
    margin-bottom: 16px;
  }

  .header-link {
    margin-left: 0;
    font-weight: 600;
    color: #788474;
  }

  .nav__mobile-open .menu {
    visibility: visible;
    display: block;
  }

  .brand--wrapper {
    width: 100%;
  }

  .nav__mobile-open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: flex-start;
    z-index: 10;
  }

  .nav--wrapper {
    flex-direction: column;
  }

  .nav__mobile-open .hamburger {
    visibility: visible;
  }

  .nav__mobile-open .nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
    padding: 10px 0px;
    border-radius: 8px;
  }

  .nav-search--btn .search-icon {
    display: block;
    visibility: visible;
    font-size: 20px;
    width: 55px;
    height: 20px;
  }
}
