.nav {
  line-height: 1;
  font-family: Raleway, sans-serif;
  padding: 24px 32px;
  background: #788474;
}

.nav--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.nav-search--btn {
  font-family: "fa solid";
}

.nav-search--btn .search-icon {
  visibility: hidden;
  display: none;
}

.brand--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1005%;
}

.brand {
  font-family: Bebas Neue, sans-serif;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
}

.nav .menu {
  display: none;
  visibility: hidden;
}

.nav .hamburger {
  display: none;
  visibility: hidden;
}

.search-text {
  font-family: Raleway, sans-serif;
}

.header-links--list {
  display: flex;
}

.header-link {
  color: #fff;
  text-decoration-line: none;
  margin-left: 24px;
  border-style: none;
  border-bottom: 2px solid transparent;
  min-width: 64px;
  display: flex;
  height: 33px;
  align-items: center;
  justify-content: center;
}

.header-link:hover {
  font-weight: 600;
  border-width: 2px;
  border-style: none;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.header-link:focus {
  font-weight: 600;
  border-width: 2px;
  border-style: none;
  border-color: #333;
  border-bottom: 2px solid #f7c59f;
  color: #f7c59f;
  text-decoration: none;
}

.current-link {
  border-style: none;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

/* react-select search styles */
.nav-search--wrapper {
  width: 84px;
  display: flex;
  color: #fff;
  background: #788474;
}

.nav-search--wrapper:hover .nav-search__control {
  border-bottom: 2px solid #fff !important;
  cursor: pointer;
}

.nav-search--wrapper:hover .nav-search__placeholder {
  font-weight: 600;
}

.nav-search__control--is-focused {
  box-shadow: none !important;
}

.nav-search--wrapper__focused .nav-search__control {
  border-bottom: 2px solid #fff !important;
}

.nav-search--wrapper .nav-search__value-container {
  padding-left: 0 !important;
}

.nav-search__control {
  min-height: 23px !important;
  width: 100%;
  background: #788474 !important;
  color: #fff !important;
  border: none !important;
  border-bottom: 2px solid transparent !important;
  border-radius: 0 !important;
}

.nav-search__placeholder,
.nav-search__input {
  color: #fff !important;
  font-family: Raleway, sans-serif;
}

.nav-search__value-container {
}

/* end */

/*when mobile menu is open*/
@media screen and (max-width: 786px) {
  .header-links--list,
  .nav-search--placeholder-text,
  .nav__mobile-open .nav-search--btn,
  .nav-search--btn .search-text {
    visibility: hidden;
    display: none;
  }

  .nav .hamburger {
    display: flex;
    visibility: visible;
  }

  .header-links--list--wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #788474;
  }

  .header-links--list__open {
    visibility: visible;
    display: flex;
    flex-direction: column;
    min-width: 160px;
  }

  .header-link,
  .menu-category {
    color: #788474;
  }

  .header-link:hover,
  .current-link {
    border-bottom-color: #788474;
  }

  .header-link--wrapper {
    margin-bottom: 16px;
  }

  .header-link {
    margin-left: 0;
    font-weight: 600;
    color: #788474;
  }

  .nav__mobile-open .menu {
    visibility: visible;
    display: block;
  }

  .brand--wrapper {
    width: 100%;
  }

  .nav-search--wrapper {
    width: 55px;
  }

  .nav__mobile-open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: flex-start;
    z-index: 10;
  }

  .nav--wrapper {
    flex-direction: column;
  }

  .nav__mobile-open .hamburger {
    visibility: visible;
  }

  .nav__mobile-open .nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px 0px;
    border-radius: 8px;
    width: 100%;
  }

  .nav-search--btn .search-icon {
    display: block;
    visibility: visible;
    font-size: 20px;
    width: 55px;
    height: 20px;
  }

  .nav-search--wrapper .nav-search__value-container {
    justify-content: flex-end !important;
    padding-right: 0 !important;
  }

  .nav-search--wrapper__focused .nav-search__value-container {
    justify-content: flex-start !important;
  }
}

.nav-search--wrapper__focused {
  padding-left: 15px;
  width: 84%;
  max-width: 400px;
  transition: 400ms;
}
