.product-price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 62px;
  padding-left: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: none;
  border-width: 2px;
  border-color: #dad9d9;
}

.product-variation.market-deal {
  border-color: #788474;
}

.product-price-container-controls {
  display: flex;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  justify-content: flex-start;
}

.product-price-container-select {
  width: 7rem;
}

.product-price-container-select-label {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 1rem 0 0rem 0;
  color: #dad9d9;
}

.product-price-container-add-to-cart-button {
  border: 3px solid #788474;
  color: #788474;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  min-width: 12rem;
  text-align: center;
  justify-content: center;
}

.product-price-container-add-to-cart-button:hover {
  background: #788474;
  color: white;
}

.product-price-container-add-to-cart-button:active {
  background: #788474;
  color: white;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
